body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container{
    width: 520px;
    padding: 0 20px;
}

.container h1{
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 46px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -1px;
    color: rgb(22,28,45);

}

.container h1 span{
    color: rgb(51,94,234)
}

.container p{
    font-size: 21px;
    font-weight: 400;
    line-height:34px;
    margin-bottom: 48px;
    margin-top: 0;
    color: rgb(134,154,184);
    letter-spacing: -1px;
}

.button-container button{
    padding:13px 20px;
    border:1px solid transparent;
    background-color: rgb(51,94,234);
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    margin-right:4px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition-duration: .25s;
}

.button-container button:hover{
    box-shadow: 0 1rem 2.5rem rgba(22,28,45,0.1),
    0 0.5rem 1rem -0.7 rgba(22,28,45,0.1);
    transform: translate3d(0,-3px,0);
    background-color: rgb(43, 80, 199);
    
}
.button-container button:last-of-type{
    background-color:rgba(22,28,45,0.1);
    color:#335eea;
}

.button-container button:last-of-type:hover{
    background-color: rgb(229, 231, 253);
}


i{margin-left: 10px;}


element.style {
}